*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    max-height: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #444343;
}

canvas{
    background-color: #056905;
    max-height: 80%;
    max-width: 100%;
    aspect-ratio: 5 / 4;
}

@media(orientation: portrait){
    canvas{
        max-height: 50%;
    }
}